<div *ngIf="post | async as p" class="container">
  <!-- Mostra il testo del post -->
  <h2>{{ p.text }}</h2>

  <!-- Mostra il conteggio dei voti (likes) del post -->
  <h4>Voti: {{ p.likes }}</h4>

  <!-- Pulsante per effettuare un upvote al post -->
  <button (click)="upvote()">Mi piace</button>

  <!-- Pulsante per effettuare un downvote al post -->
  <button (click)="downvote()">Non mi piace</button>

  <!-- Pulsante per ripristinare lo stato iniziale del post -->
  <button (click)="resetPost()">Ripristina</button>

  <!-- Campo di input per modificare il testo del post -->
  <input [(ngModel)]="writedText">

  <!-- Pulsante per confermare la modifica del testo del post -->
  <button (click)="editText()">Cambia Titolo</button>
</div>
